.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h1 {
    margin: 10px 0;

    @media screen and (max-width: 1199px) {
      display: flex;
      justify-content: center;
    }
  }
}
